<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <joint name="cam_joint" type="fixed">
        <parent link="chassis"/>
        <child link="cam_frame"/>
        <origin xyz="0.25 0 0.02" rpy="0 0 0"/>
    </joint>

    <link name="cam_frame">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.1 0.01"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.1 0.01"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.1" x="0.001" y="0.1" z="0.01">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
        <parent link="cam_frame" />
        <child link="camera_link_optical" />
    </joint>

    <link name="camera_link_optical"></link>

    <gazebo reference="cam_frame">
        <material>Gazebo/Orange</material>
        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>

            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>

            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>

        </sensor>

    </gazebo>

</robot>