<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <joint name="front_cam_joint" type="fixed">
        <parent link="chassis"/>
        <child link="front_cam_frame"/>
        <origin xyz="0.25 0 0.02" rpy="0 0 0"/>
    </joint>

    <joint name="rear_cam_joint" type="fixed">
        <parent link="chassis"/>
        <child link="rear_cam_frame"/>
        <origin xyz="-0.25 0 0.02" rpy="0 0 0"/>
    </joint>

    <link name="front_cam_frame">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.1 0.01"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.1 0.01"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.1" x="0.001" y="0.1" z="0.01">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <link name="rear_cam_frame">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.1 0.01"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.1 0.01"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.1" x="0.001" y="0.1" z="0.01">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="front_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="front_cam_frame" />
        <child link="front_camera_link_optical" />
    </joint>

    <joint name="rear_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 ${-pi}" />
        <parent link="rear_cam_frame" />
        <child link="rear_camera_link_optical" />
    </joint>

    <link name="front_camera_link_optical"></link>

    <link name="rear_camera_link_optical"></link>

    <gazebo reference="front_camera_link_optical">
        <material>Gazebo/Orange</material>
        <sensor name="front_camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>

            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>1280</width>
                    <height>720</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>

            <plugin name="front_camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>front_camera_link_optical</frame_name>
            </plugin>

        </sensor>

    </gazebo>

    <gazebo reference="rear_camera_link_optical">
        <material>Gazebo/Orange</material>
        <sensor name="rear_camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>

            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>1280</width>
                    <height>720</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>

            <plugin name="rear_camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>rear_camera_link_optical</frame_name>
            </plugin>

        </sensor>

    </gazebo>

</robot>